[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
yfinance = "*"
pandas = "*"
textual = "*"
textual-plotext = "*"

[dev-packages]
textual-dev = "*"

[requires]
python_version = "3.14"
